@font-face {
    font-family: "Great Vibes";
    src: url("./MTD-Great-Vibes.otf") format("opentype");
}

@font-face {
    font-family: "Dacing Script";
    src: url("./SVN-Dancing-script.ttf") format("opentype");
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

.cursor-pointer {
    cursor: pointer !important;
}

@media (min-width: 350px) and (max-width: 576px) {
    .d-ssm-flex {
        display: flex !important;
    }
}

@media (min-width: 350px) {
    .d-ssm-none {
        display: none !important;
    }
}
